#gameArea {
    width: 100%;
}

#gameArea canvas {
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -400px;
}

.stats {
    position: absolute;
    left: 50%;
    margin-left: 500px;
    font-size: 20px;
    width: 200px;
    height: 100px;
}

#x {
    top: 30px;
}

#y {
    top: 60px;
}

#FogOfWar {
    display: none;
    visibility: hidden;
}